@import url('https://fonts.googleapis.com/css?family=Pacifico|Sen&display=swap');
*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;   
}
nav{
    background-color: #0089E3;
    color: #fff;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 2.3rem;
    color: rgba(255,255,255,1);
    text-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.2);
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 1.1rem;
}
.navbar-dark .navbar-nav .nav-link:hover{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}
.navbar-dark .navbar-nav .nav-link:active{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}
.banner-section{
    width: 100%;
    background-color: #0089E3;
    padding-top: 6%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
}
.banner-card-section{
    border: none;
}
.banner-card-section .card-header{
    border: none;
    background-color: #0089E3;
    padding: 0 0;
}
.banner-card-section .card-body{
    border: none;
    background-color: #0089E3;
    color: white;
    font-family: 'Sen', sans-serif;
}
.banner-form-section{
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0.4em 0.4em 0.4em rgba(0,0,0,0.5);
}
.form-group-section .form-control{
    border-style: solid;
    border-width: 2px;
    border-color: #181818;
    border-radius: 30px;
}
.form-group-section .form-control:focus{
    border: none;
    background-color: #cce7f9;
    box-shadow: none;
}
.form-group-section .btn{
    width: 100%;    
    border-radius: 30px;    
}
.form-border{
    background-color: #181818;
    box-shadow: 0.4em 0.4em 0.4em rgba(0,0,0,0.5);
    width: 100%;
    color: #fff;
    
}
.container-1{
    width:100%;
    padding: 0 0;
}
.container-1-card .card-header{
    background-color: #fff;
}
.container-1-card .card-header .card-1{
    background-image: url('/assets/card1.png');
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-1-card .card-header .card-2{
    background-image: url('/assets/card2.png');
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-1-card .card-header .card-3{
    background-image: url('/assets/card3.png');
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.container-1-card .card-body p{
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-stretch: condensed;
}
.container-2{
    background-image: url('/assets/card5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container-2{
    margin: 0 0;
    padding: 0 0;
}
.container-2 .row{
    margin: 0 0;
    padding: 0 0;
}
.container-2 .col-sm-12{
    margin: 0 0;
    padding: 0 0;
}
.container-2 .row .card{
    background-color: rgba(0,0,0,0.9);
    color: #fff;
}
.container-2 .card .card-body{
    padding-top: 150px;
    text-align: center;
}
.container-2 .card .card-body h1{
    font-size: 4rem;
    font-stretch: extra-condensed;
}
.container-3-card{
    border: none;
}
.container-3 .card .card-body{
    padding-top: 100px;
    text-align: center;    
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-stretch: condensed;
    border: none;
}
.container-3 .card .card-body h1{
    font-size: 3rem;
    font-stretch: extra-condensed;
}
.footer{
    background: #000;
    
}
.footer .row{
    margin: 0 0;
    padding: 0 0;
}
.footer .row .card{
    border: none;
    background: #000;
    color: #fff;
}
.footer-line{
    background-color: #fff;
    width: 70%;
    text-align: center;
}
.footer .col-sm-12{
    margin: 0 0;
    padding: 0 0;
    text-align: center;
}
.footer .col-sm-1 a{
    text-align: center;
}
.footer .col-sm-1 a:hover{
    color: #ff0;
    cursor: pointer;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {  
    nav{
        background-color: #000;
    }
    .navbar{
        background-color: #000;
    }
    .banner-section{
        padding-bottom: 10%;
    }
    .banner-card-section{
        padding-top: 100px;
        padding-bottom: 50px;
        background-color: #0089E3;
    }
    .banner-form-section{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .form-border{
        width: 90%;
    }
    .container .row .col-sm-4{
        padding: 0 0;
    }
    .container-1-card .card-header .card-1{
        width: 150px;
        height: 150px;
    }
    .container-1-card .card-header .card-2{
        width: 150px;
        height: 150px;
    }
    .container-1-card .card-header .card-3{
        width: 150px;
        height: 150px;
    }
    
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
