@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    box-sizing: border-box;
}
.navbar{
    padding: 1vw 4vh;
    vertical-align: middle;
    background-color: #181818;
}
html, body{
    width: 100%;
    background-color: #fff;
}
.water-mark{
    position: absolute;
    top: 150vh;
    left: 30vw;
    color: #eeeeee;
    transform: rotate(-45deg);
}
.water-mark h2{
    font-size: 15rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-family: 'Bangers', cursive;
}
nav .navbar-brand{
    font-family: 'Bangers', sans-serif;
    color: #f6f6f6;
    font-size: 3rem;
}
.navbar-nav .nav-item .nav-link{
    font-family: 'Playfair Display', serif;
    color: #f6f6f6;
    font-size: 1.2rem;
}
#banner{
    padding: 6vw 8vh;
    background-color: #181818;
    height: 84vh;
} 
#banner h1{
    font-family: 'Playfair Display', serif;
    color: #f6f6f6;
    margin-top: 3rem;
    font-size: 4rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#banner p{
    width: 85%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Playfair Display', serif;
    color: #f6f6f6;
    font-size: 1.2rem;
}
#contact-form{
    padding: 4rem 4rem;
}
#contact-form form{
    width: 82%;
    padding: 4% 4%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Playfair Display', serif;
    color: #181818;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #fff;
}
#contact-form form input{
    background-color: #ECE6E7;
}
#contact-form textarea{
    resize: none;
    background-color: #ECE6E7;
}
#contact-form .btn{
    background-color: #181818;
    color: #fff;
    font-weight: lighter;
}
#contact-form h3{
    font-family: 'Playfair Display', serif;
    color: #181818;
    font-size: 2.3rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#contact-form hr{
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 90%;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
}
#contact-form p{
    font-family: 'Playfair Display', serif;
    color: #181818;
    font-size: 1.2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar{
        padding: 1rem 1rem;
    } 
    .water-mark{
        top: 15vh;
        left: -70vw;
        transform: rotate(-60deg);
    }
    .water-mark h2{
        font-size: 15rem;
        font-weight: 900;
        letter-spacing: 0.5rem;
        font-family: 'Bangers', cursive;
    }
    #banner{
        padding: 2rem 1rem;
    } 
    #contact-form{
        padding: 2rem 1rem;
    }
    #contact-form form{
        width: 88%;
        padding: 6% 6%;
        margin-bottom: 3rem;
    }  

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }