body{
    margin: 0 0;
    padding: 0 0;
}
.card-div{
    margin: 2% 2%;
}
.card-img-div{
    background-color: aqua;
}
.card-text-cap{
    font-size: 2rem;
    color: coral;
}
.div-type{
    color: #c3c3c3;
}
.head-wrap{
    margin-left: 2%;
    padding: 1% 1%;
}
.list-div{
    margin-left: 4%;
    float: left;
}
.list-group-item{
    padding-top: 4%;
    padding-bottom: 4%;
}
.alert{
    visibility: hidden;
}
.card{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}
.card-header{
    padding-top: 2%;
    padding-bottom: 2%;

}